body {
	background-color: whitesmoke;
}

.container {
	display: grid;
	grid-template-columns: 20% 20% 20%;
	grid-template-rows: 35% 35% 35%;
	gap: 5rem;
	justify-content: center;
	align-items: center;
	margin: 3%;
	padding: 5%;
}

