@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

.logo {
  justify-content:right;
  height: 5px;
}

#Navbar {
  background-color: white;
  max-width: 75%;
  display: flex;
  justify-content: space-around;
}

#Navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 2%;
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  font-family: 'Marko One', Arial;
}

#Navbar a:hover {
  background-color: #ddd;
  color: black;
}

#Navbar .icon {
  display: none;
}

.NavSeries {
  display: inline-block;
}

.NavSeriesList {
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.NavSeriesList a {
  color: black;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.NavSeriesList a:hover {
  background-color: #ddd;
}

.NavSeries .NavSeriesList {
  display: block;
}

.NavSeries:hover .NavSeriesList {
  display: block;
}


.container {
	display: grid;
	grid-template-columns: 25% 25% 25%;
	grid-template-rows: 40% 40% 40%;
	gap: 4.5rem;
	justify-content: center;
	align-items: center;
	height: 80%;
	width: 80%;
	margin: 0.5%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
}

.instagram {
  float: left;
  margin: 1rem;
}
.facebook {
  float: left;
  margin: 1rem;
}
.twitter {
  float: left;
  margin: 1rem;
}
.github {
  float: left;
  margin: 1rem;
}
.copyright {
  font-style: normal;
  color: black;
  float:inline-end;
}